body {
    background-color: #0d0d0d;
}

.texto-blanco {
    color: white;
}

#titulo {
    background-color: rgb(15, 49, 7);
    font-family: Arial, Helvetica, sans-serif;
}

#navBar {
    background-color: rgb(34, 103, 18);
}

