body {
    background-color: #0d0d0d;
}

.texto-blanco {
    color: white;
    font-family: 'verdana', sans-serif;
}

.electrolize-regular {
  font-family: "Electrolize", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}


#titulo {
    background-color: rgb(14, 72, 0);
}

#navBar {
    background-color: rgb(14, 72, 0);
}

